VITE_NETWORK=testnet
VITE_RPC_URL=https://soroban-testnet.stellar.org
VITE_NETWORK_PASSPHRASE=Test SDF Network ; September 2015
VITE_PROTOCOL_CONTRACT_ID=CCZ5J6NG6Q3PWUGA2PFILJ2HNIQHBKUOMB4NB7MXTZVWCC3ZXUVTIQLM
VITE_USDC_CONTRACT_ID=CCW67TSZV3SSS2HXMBQ5JFGCKJNXKZM7UQUWUZPUTHXSTZLEO7SJMI75
VITE_MARKETS=[{"symbol":"XLM","name":"Stellar Lumens","asset":"CAS3J7GYLGXMF6TDJBBYYSE3HQ6BBSMLNUQ34T6TZMYMW2EVH34XOWMA","decimals":7}]
VITE_POSITION_SCAN_LIMIT=25
